@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pharmacy Managment System</h1>
    @*<p> Lahore Mental Health Association (LMHA) was formed in 1962 to mobilize efforts & resources for the uplift and promotion of mental health in the country. In 1965, Prof. Dr. Mohammad Rashid Chaudhry (Late) a founder member of the association, worked out a plan for the establishment of a rehabilitation center for the mentally ill in Lahore. A formal proposal entitled "Establishment of a Half-Way House and Day-Night Rehabilitation Unit for persons with Mental Illness" was submitted to the Govt. of Pakistan in 1965. </p>*@
    </div>

<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <h2>Pharmacy Managment System</h2>
        <p> Lahore Mental Health Association (LMHA) was formed in 1962 to mobilize efforts & resources for the uplift and promotion of mental health in the country. In 1965, Prof. Dr. Mohammad Rashid Chaudhry (Late) a founder member of the association, worked out a plan for the establishment of a rehabilitation center for the mentally ill in Lahore. A formal proposal entitled "Establishment of a Half-Way House and Day-Night Rehabilitation Unit for persons with Mental Illness" was submitted to the Govt. of Pakistan in 1965. </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="justify-content: center; background-color: lightyellow">
    </div>

</div>