@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.Label("User Name")
            <input id="userName" />
            <br />
            @Html.Label("Password")
            <input id="password" type="password" />
            <br />
            <button id="loginbtn" name="loginbtn"> Login</button>
        </div>
    </div>

    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $('#loginbtn').click(function () {
            $.ajax({
                type: 'POST', url: '@Url.Action("SignIn")', dataType: 'json', data: { id: $("#userName").val(), password: $("#password").val() },
                success: function (xyz) {
                    $.each(xyz, function (i, y) {
                        alert(y.Value)
                    });
                   
                },

                error: function(ex) {
                   
                }
            })
        });

    </script>
}